#root {
    background-color: rgb(247, 248, 252);
    min-height: 100vh;
}

h1,h2,h3,h4,h5 {
    font-family: 'Monda', sans-serif;
}

.large-input {
    font-size: 150%;
    letter-spacing: 0.5px;
}

.hover-text-decoration-none:hover {
    text-decoration: none;
}

.footer {
    background-color: rgb(24, 24, 24);
}

.footer li a {
    color: #d1d1d1;
}

.footer a {
    color: #d1d1d1;
    text-decoration: none;
}

.footer a:hover {
    color: #6b6b6b;
}

.scrollbar::-webkit-scrollbar { 
    display: none; 
} 

.btn.fas {
    font-weight: 900;
}

article {
    font-size: 1.1rem;
}