body {
    background-color: rgb(247, 248, 252);
}

h1,h2,h3,h4,h5 {
    font-family: 'Monda', sans-serif;
}

.large-input {
    font-size: 150%;
    letter-spacing: 0.5px;
}

@media (min-width: 768px) {
    .w-md-75 {
        width: 75% !important;
    }
}

.heart-icon {
    color: white;
}

.like-icon {
    color: white;
}