.menu-item {
    padding: 1.75rem;
    font-family: 'Monda', sans-serif;
    border: none;
    border-radius: 0;
}

.menu-item:focus {
  box-shadow: none !important;
}

.icon-button {
    padding: none;
}

.icon-button:hover{
    color: rgba(0, 0, 0, 0.5);
}

.icon-button:focus {
     box-shadow: none;
}
